.form {
  display: flex;
  margin: 10px;
  justify-content: space-between;
}

.wrapp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  width: 30vw;
}

.mapWrapp {
  margin: 30px 8px 0;
}
